/.repo/
/.gn
/Makefile
/build.py
/config.mk
/drivers
/prebuilts
/test
/applications
/build.sh
/developtools
/foundation
/productdefine
third/_party
/base
/commonlibrary
!/device/board/GigaDevice
/device/board/beken
/device/board/fnlink
/device/board/hihope
/device/board/hpmicro
/device/board/lango
/device/board/openvalley
/device/board/telink
/device/board/bearpi
/device/board/chipsea
/device/board/goodix
/device/board/hisilicon
/device/board/kaihong
/device/board/lockzhiner
/device/board/talkweb
/device/qemu
/device/soc/asrmicro
/device/soc/beken
/device/soc/bestechnic
/device/soc/chipsea
/device/soc/esp
/device/soc/gd32f4
/device/soc/goodix
/device/soc/hisilicon
/device/soc/hpmicro
/device/soc/st
/device/soc/telink
/device/soc/winnermicro
/kernel
/qemu-run
!/vendor/GigaDevice
/vendor/bearpi
/vendor/chipsea
/vendor/hihope
/vendor/kaihong
/vendor/openvalley
/vendor/alientek
/vendor/asrmicro
/vendor/hisilicon
/vendor/lockzhiner
/vendor/talkweb
/vendor/asrmicro
/vendor/bestechnic
/vendor/goodix
/vendor/hpmicro
/vendor/ohemu
/vendor/telink
/build
/compile_commands.json
/docs
/out
/targets
