/.repo/
/.gn
/Makefile
/applications/
/base/
/build/
/build.py
/build.sh
/commonlibrary/
/config.mk/
/developtools/
/docs/
/drivers/
/foundation/
/kernel/
/oh_venv/
/out/
/prebuilts/
/productdefine/
/qemu-run
/targets/
/test/
/third_party/
